<div class="{{pageStyles.header}}">
	<a href="http://advita.ru" target="_blank" class="{{pageStyles.logo}}">
		<img src="/static/advita_logo.png">
	</a>
	<div class="{{pageStyles.nav}}">
		<a href="/#/why" class="{{pageStyles.navItem}} {{#if currentPage.why}}{{pageStyles.navItemChoosen}}{{/if}}">ЗАЧЕМ СТАНОВИТЬСЯ<br>ДОНОРОМ КОСТНОГО МОЗГА</a>
		<a href="/#/how" class="{{pageStyles.navItem}} {{#if currentPage.how}}{{pageStyles.navItemChoosen}}{{/if}}">КАК СТАТЬ ДОНОРОМ<br>КОСТНОГО МОЗГА</a>
	</div>
</div>
<div data-view="app-container"></div>
<div class="{{pageStyles.container}}">
	<div class="{{pageStyles.credentials}}">
		<div class="{{pageStyles.credentialsText}}">
			Сделала Алиса Яннау в Школе редакторов Бюро Горбунова. 
			<br>
			Иллюстратор — Марина Савицкая, разработчик — Артур Стамбульцян.
			<br>
			<a href="/static/pdf/agreement.pdf" target="_blank" class="{{typography.link}}">Пользовательское соглашение</a>.
		</div>
		<a href="https://www.behance.net/marina_sav" target="_blank" class="{{pageStyles.credentialsImage}}">
			<img src="/static/credentials.png">
		</a>
	</div>
</div>