<div class="{{pageStyles.header}}">
	<a href="/#/why" class="{{pageStyles.logo}}">
		<img src="/static/logo.png">
	</a>
	<div class="{{pageStyles.fondLogo}}">
		<a href="http://www.advita.ru/" target="_blank" class="{{pageStyles.fondLogo}}">
			<img src="/static/fond_logo.png">
		</a>	
		{{!-- <a href="/#/why" class="{{pageStyles.navItem}} {{#if currentPage.why}}{{pageStyles.navItemChoosen}}{{/if}}">ЗАЧЕМ СТАНОВИТЬСЯ<br>ДОНОРОМ КОСТНОГО МОЗГА</a>
		<a href="/#/how" class="{{pageStyles.navItem}} {{#if currentPage.how}}{{pageStyles.navItemChoosen}}{{/if}}">КАК СТАТЬ ДОНОРОМ<br>КОСТНОГО МОЗГА</a> --}}
	</div>
</div>
<div data-view="app-container"></div>
<div class="{{pageStyles.container}}">
	<div class="{{pageStyles.credentials}} {{pageName}}">
		<div class="{{pageStyles.credentialsText}}">
			Сделала Алиса Яннау в <a class="{{typography.link}}" target="_blank" href="http://artgorbunov.ru/school/editors/31aug2015/">Школе редакторов Бюро Горбунова</a>.
			<br>
			Иллюстратор — Марина Савицкая, разработчик — Артур Стамбульцян.
			<br>
			<a href="/static/pdf/agreement.pdf" target="_blank" class="{{typography.link}}">Пользовательское соглашение</a>.
		</div>
		<a href="https://www.behance.net/marina_sav" target="_blank" class="{{pageStyles.credentialsImage}}">
			<img src="/static/credentials.png">
		</a>
	</div>
</div>