<div class="{{styles.pageRoot}}">
	{{!-- <a href="/#/why" class="{{styles.pageNavPrev}}">Зачем<br>Сдавать</a> --}}
	<div class="{{styles.pageTitle}}">Как сдать<br>костный мозг</div>
	{{!-- <a href="/#/where" class="{{styles.pageNavNext}}">Где<br>сдать</a --}}>
	<div class="{{styles.pageContainer}}">
		<div class="{{styles.intro}}">
			Сдавая кровь в регистр, вы становитесь потенциальным донором костного мозга. Реальным донором вы станете, когда кому-то подойдут ваши клетки. Это может случиться сразу же, через год, 15 лет или никогда. Но внимательно прочитайте все этапы донорства уже сейчас и оцените свои силы. Чтобы в случае необходимости не подвести нуждающегося в помощи человека.  
		</div>
	</div>
	<div class="{{styles.test}}" data-view="how-test"></div>
</div>