<div class="{{page.root}}">
	<div class="{{how.artwork}}">
		<img src="/static/how_artwork.png">
	</div>
	<div class="{{styles.pageContainer}}">
		<div class="{{styles.test}}" data-view="how-test"></div>
	</div>
	<div class="{{page.container}}">
		<div class="{{page.section}}">
			<div class="{{typography.header}}">Как стать<br>донором костного мозга</div>
			<div class="{{typography.paragraph}}">
				О&nbsp;донорстве костного мозга знают мало, поэтому многие боятся становиться донорами. Кто-то думает, что&nbsp;костный мозг вырезают из&nbsp;костей, другие слышали, что&nbsp;врач иглой протыкает позвоночник. Мы&nbsp;хотим развеять безосновательные страхи и&nbsp;рассказать, как&nbsp;все происходит на&nbsp;самом деле&nbsp;&mdash; шаг за&nbsp;шагом.
			</div>
		</div>
		<div class="{{page.section}}" id="first-step">
			<div class="{{typography.subheader}}">Первый шаг. Найти, где сдать кровь</div>
			<div class="{{typography.float}} {{typography.paragraph}}">
				<div class="{{typography.text}}">
					Чтобы вступить в&nbsp;регистр потенциальных доноров костного мозга, нужно сдать кровь на&nbsp;типирование. Типирование&nbsp;&mdash; это тест на&nbsp;тканевую совместимость между донором и&nbsp;реципиентом. От&nbsp;этой совместимости зависит, приживется&nbsp;ли костный мозг в&nbsp;новом организме.
				</div>
				<div class="{{typography.footnote}}">
					<div class="{{typography.footnoteText}}">
						Для 100% генетической совместимости
						<br>
						донора и пациента должны совпасть
						<br>
						10 четырехзначных параметров ДНК.
						<br>
						Вероятность совпадения 1:10000.
						<br>
						Для транплантации достаточно
						<br>
						90% совместимости
					</div>
				</div>
			</div>
			<div class="{{typography.paragraph}}">
				Специальных пунктов сдачи крови на&nbsp;типирование нет. Вступить в&nbsp;регистр можно в&nbsp;некоторых пунктах переливания крови и&nbsp;в&nbsp;лабораториях регистра. Выберите свой город и&nbsp;найдите удобный пункт.
			</div>
			<div class="{{how.find}}">
				<div class="{{how.findCity}}">
					<select class="{{inputs.select}}" data-action="select-city">
						<option>Выберите город</option>
						{{#each citiesCollection.models}}
							<option value="{{this.attributes.placeId}}" {{#if this.selected}}selected="selected"{{/if}}>{{this.attributes.name}}</option>
						{{/each}}
					</select>
					{{#unless currentCity}}
						{{#if error.emptyCity}}
							<div class="{{how.findEmpty}} {{typography.text}}">
								Мы определили ваш город, 
								<br>
								это {{error.data.formattedAddress}}.
								<br>
								Но, к сожалению, в нем
								<br>
								нет пунктов для сдачи 
								<br>
								костного мозга.
							</div>
						{{else}}
							<div class="{{how.findEmpty}} {{typography.text}}">
								Мы не смогли определить, где вы
								<br>
								находитесь. Пожалуйста, выберите
								<br>
								город вручную.
							</div>
						{{/if}}
					{{/unless}}
				</div>
				<div class="{{how.findContainer}}">
					{{#if currentCity}}
						<div data-view="how-map" class="{{how.findMap}}"></div>
						<div class="{{how.findMainPoint}}">
							<div class="{{how.findPoint}} {{typography.text}}">
								<div class="{{how.findPointName}}">{{firstPoint.name}}</div>
								<div class="{{how.findPointAddress}}">
									{{firstPoint.address}}
								</div>
								<div class="{{how.findPointTime}}">
									Время работы: {{firstPoint.time}}
								</div>
								{{#if firstPoint.phone}}
									<div class="{{how.findPointPhone}}">
										Телефон: {{firstPoint.phone}}
									</div>
								{{/if}}
								{{#if firstPoint.info}}
									<div class="{{how.findPointMeta}}">
										{{firstPoint.info}}
									</div>
								{{/if}}
							</div>
							<div class="{{how.findShowMore}} {{typography.text}}" data-action="show-all-points">
								Показать все пункты в этом городе...
							</div>
							<div class="{{how.findShowMore}} {{typography.text}}" style="display: none" data-action="hide-all-points">
								Свернуть
							</div>
						</div>
					{{/if}}
				</div>
				<div class="{{how.findPoints}}" data-role="all-points">
					<div class="{{how.findPointsContainer}}">
						<div class="{{how.findPointsEven}}">
							{{#each evenPoints}}
								<div class="{{../how.findPoint}} {{../typography.text}}">
									<div class="{{../how.findPointName}}">{{this.name}}</div>
									<div class="{{../how.findPointAddress}}">
										{{this.address}}
									</div>
									<div class="{{../how.findPointTime}}">
										Время работы: {{this.time}}
									</div>
									{{#if this.phone}}
										<div class="{{../how.findPointPhone}}">
											Телефон: {{this.phone}}
										</div>
									{{/if}}
									{{#if this.info}}
										<div class="{{../how.findPointMeta}}">
											{{this.info}}
										</div>
									{{/if}}
								</div>
							{{/each}}
						</div>
						<div class="{{how.findPointsOdd}}">
							{{#each oddPoints}}
								<div class="{{../how.findPoint}} {{../typography.text}}">
									<div class="{{../how.findPointName}}">{{this.name}}</div>
									<div class="{{../how.findPointAddress}}">
										{{this.address}}
									</div>
									<div class="{{../how.findPointTime}}">
										Время работы: {{this.time}}
									</div>
									{{#if this.phone}}
										<div class="{{../how.findPointPhone}}">
											Телефон: {{this.phone}}
										</div>
									{{/if}}
									{{#if this.info}}
										<div class="{{../how.findPointMeta}}">
											{{this.info}}
										</div>
									{{/if}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Второй шаг. Сдать кровь</div>
			<div class="{{typography.float}} {{typography.paragraph}}">
				<div>
					<div class="{{typography.paragraph}}">
						В&nbsp;пункте приёма крови вы&nbsp;заполняете анкету и&nbsp;подписываете соглашение. Соглашение подтверждает, что вы&nbsp;вступаете в&nbsp;регистр добровольно и&nbsp;знаете о&nbsp;всех этапах донорства.
					</div>
					<div class="{{typography.paragraph}}">
						Тут же вы сдаете 10 мл крови.  
					</div>
				</div>
				<div class="{{typography.footnote}}">
					<div class="{{typography.paragraph}}">
						<a target="_blank" href="/static/pdf/anketa.pdf" class="{{typography.link}}">
							Анкета
							<br>
							о состоянии здоровья
						</a>
					</div>
					<div class="{{typography.paragraph}}">
						<a target="_blank" href="/static/pdf/register_agreement.pdf" class="{{typography.link}}">
							Соглашение 
							<br>
							о вступлении в регистр
						</a>
					</div>
				</div>
			</div>
			<div class="{{typography.paragraph}}">
				Поздравляем, вы&nbsp;в&nbsp;регистре! Вы&nbsp;попадаете в&nbsp;регистр автоматически после того, как&nbsp;вашу кровь протипируют в&nbsp;лаборатории. Сотрудники регистра позвонят, только если ваш костный мозг кому-то подойдет.
			</div>
		</div>
		<div class="{{page.section}}">
			<div class={{typography.note}}>
				<div class="{{typography.subheader}}">Персональные данные под защитой</div>
				<div class="{{typography.paragraph}}">
					<div class="{{typography.floatJustifyBetween}}">
						<div class="{{typography.col2}}">
							<div class="{{typography.paragraph}}">
								<span class="{{typography.bold}}">Регистр не раскрывает ваши данные</span>
								<br>
								Пробирку с&nbsp;анализом подписывают девятизначным кодом. Этот&nbsp;же код пишут на&nbsp;анкете с&nbsp;вашими персональными данными. Результаты типирования и&nbsp;код хранятся в&nbsp;одной базе, а&nbsp;персональные данные&nbsp;&mdash; в&nbsp;другой.
							</div>
							<div class="{{typography.paragraph}}">
								База с&nbsp;персональными данными находится на&nbsp;отдельном сервере без выхода в&nbsp;интернет. Сотрудник сопоставит код и&nbsp;имя, только если кому-то подойдут ваши клетки.
							</div>
						</div>
						<div class="{{typography.col2}}">
							<div class="{{typography.paragraph}}">
								<span class="{{typography.bold}}">Регистр не раскрывает данные пациента</span>
								<br>
								О&nbsp;реципиенте вам скажут немного: пол, возраст, вес и&nbsp;как в&nbsp;общих чертах прошла трасплантация.
							</div>
							<div class="{{typography.paragraph}}">
								Срок анонимности&nbsp;&mdash; два года. Потом сотрудник регистра предложит донору и&nbsp;реципиенту написать друг другу письма&nbsp;и, если оба согласятся, встретиться.
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Третий шаг. Ждать</div>
			<div class="{{typography.float}} {{typography.paragraph}}">
				<div>
					<div class="{{typography.paragraph}}">
						Потенциальный донор может подойти кому-то на&nbsp;следующий день, через несколько лет или&nbsp;вообще никогда не&nbsp;подойти.
					</div>
					<div class="{{typography.paragraph}}">
						Помните, что мы&nbsp;увеличиваем регистр, чтобы спасать жизни. Поэтому оцените свои силы заранее и&nbsp;вступайте в&nbsp;регистр с&nbsp;твердым намерением стать реальным донором.
					</div>
				</div>
				<div class="{{typography.footnote}}">
					<div class="{{how.contact}}">
						<a href="mailto:donor@advita.ru" class="{{how.contactEmail}}">donor@advita.ru</a>
						<div class="{{how.contactText}}">
							Обо всех изменениях пишите
							<br>
							в фонд Advita — мы передадим
							<br>
							информацию в регистр.
							<br>
							И неважно, откуда вы и где
							<br>
							сдавали кровь
						</div>
					</div>
				</div>
			</div>
			<div class="{{typography.paragraph}}">
				Люди, которые числятся в&nbsp;регистре, но&nbsp;в&nbsp;последний момент отказываются от&nbsp;реального донорства, зря тратят деньги благотворительных организаций и&nbsp;время пациента&nbsp;&mdash; время, которое может быть решающим.
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Четвертый шаг. Пройти обследование</div>
			<div class="{{typography.float}}">
				<div>
					<div class="{{typography.paragraph}}">
						Итак, прошло время, и&nbsp;ваши клетки кому-то подошли. Сотрудник регистра звонит вам и&nbsp;спрашивает, готовы&nbsp;ли вы&nbsp;стать реальным донором.
					</div>	
					<div class="{{typography.paragraph}}">
						Если соглашаетесь, вам назначают более детальное, развернутое типирование&nbsp;&mdash; чтобы убедиться, что&nbsp;подходите. Если точно подходите, проходите обследование. Какое&nbsp;&mdash; зависит от&nbsp;состояния здоровья. Это в&nbsp;любом случае будет обычный биохимический анализ крови. Если вас что-то беспокоит, врач назначит дополнительные анализы.
					</div>
				</div>
				<div class="{{typography.media}}">
					<img class="{{how.doctorImage}}" src="/static/doctor.png">
				</div>
			</div>	
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Пятый шаг. Стать донором</div>
			<div class="{{typography.paragraph}}">
				Забрать костный мозг от&nbsp;донора можно двумя способами. Каким будут брать у&nbsp;вас, вы&nbsp;выбираете сами.
			</div>
			<div class="{{typography.floatJustifyBetween}}">
				<div class="{{typography.col2}}">
					<div class="{{how.type}}">
						<img src="/static/spit.png" class="{{how.typeImage}}">
						<div class="{{typography.text}}"><span class="{{typography.bold}}">Из тазовой кости</span></div>
						<div class="{{typography.text}}">
							Врач проколет тазовую кость и&nbsp;возьмет небольшую часть костного мозга. Вы&nbsp;будете под общим наркозом. Операция займёт около 30&nbsp;минут. Во&nbsp;время операции вы&nbsp;ничего не&nbsp;почувствуете, но&nbsp;несколько дней после операции будут &laquo;ныть кости&raquo;. Вы&nbsp;легко снимете дискомфорт обезболивающими таблетками.
						</div>
					</div>
				</div>
				<div class="{{typography.col2}}">
					<div class="{{how.type}}">
						<img src="/static/kapelnitsa.png" class="{{how.typeImage}}">
						<div class="{{typography.text}}"><span class="{{typography.bold}}">Из вены</span></div>
						<div class="{{typography.text}}">
							У&nbsp;вас берут кровь из&nbsp;вены одной руки и&nbsp;возвращают в&nbsp;вену на&nbsp;другой руке. По&nbsp;дороге кровь проходит через сепаратор, отлавливающий клетки костного мозга. Процедура занимает пять-шесть часов. Анестезия не&nbsp;нужна, вы&nbsp;находитесь в&nbsp;сознании и&nbsp;успеваете посмотреть три&nbsp;любимых фильма или поспать.
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Что потом</div>
			<div class="{{typography.paragraph}}">
				Через два года после успешной трансплантации у&nbsp;донора и&nbsp;реципиента спросят, хотят&nbsp;ли они познакомиться. Если оба согласятся, состоится встреча.
			</div>
		</div>
		<img src="/static/obyatye.png" class="{{how.whatNextImage}}">
		<div class="{{page.section}}">
			<div class="{{typography.floatJustifyBetween}}">
				<div class="{{typography.col2}}">
					<div class="{{typography.paragraph}}">
						&laquo;И&nbsp;вот они встретились. Два&nbsp;черноглазых парня,&nbsp;&mdash; одному&nbsp;14, другому&nbsp;42, чем-то неуловимо похожие друг на&nbsp;друга и&nbsp;почти стопроцентные братья по&nbsp;крови&raquo;
					</div>
					<div class="{{typography.paragraph}}">
						<a href="http://takiedela.ru/2016/03/perelivanie-zhizni/" target="_blank" class="{{typography.link}}">История от Юлии Варенцовой</a>
					</div>
				</div>
				<div class="{{typography.col2}}">
					<div class="{{typography.paragraph}}">
						&laquo;Я&nbsp;видел встречу только однажды, и&nbsp;это&nbsp;одно из&nbsp;самых сильных впечатлений за&nbsp;всю мою жизнь&raquo;
					</div>
					<div class="{{typography.paragraph}}">
						<a href="https://snob.ru/selected/entry/50262?v=1464270594" target="_blank" class="{{typography.link}}">Репортаж Валерия Панюшкина</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{page.section}}">
		<div class="{{page.footer}}">
			<div class="{{page.container}}">
				<div class="{{typography.paragraph}}">
					<div class="{{how.goToFirst}}">
						<img src="/static/location.png" class="{{how.goToFirstImage}}">
						<div class="{{how.goToFirstText}}">
							<div class="{{typography.paragraph}}">
								Если вы&nbsp;решили стать донором костного мозга, сделайте первый шаг&nbsp;&mdash; найдите пункт, в&nbsp;котором сможете сдать кровь и&nbsp;вступить в&nbsp;регистр.
							</div>
							<div class="{{typography.paragraph}}">
								<a href="#" data-action="scroll-to" data-element="#first-step" class="{{typography.link}}">Найти удобный пункт</a>
							</div>
						</div>
					</div>
				</div>
				<div class="{{typography.paragraph}}">
					Если сомневаетесь, <a href="http://advita.ru/donor.php" target="_blank" class="{{typography.link}}">узнайте больше на сайте Advita</a>.
					{{!-- <br>
					или <a href="#" class="{{typography.link}}">задайте вопрос координаторам проекта</a>. --}}
				</div>
				<div class="{{typography.paragraph}}">
					В любом случае расскажите о донорстве костного мозга друзьям.
					<br>
					Так вы можете спасти чью-то жизнь, даже если не вступите в регистр. 
				</div>
				<div data-view="how-share"></div>
			</div>
		</div>
	</div>	
	<div class="{{page.container}}">
		<div class="{{page.credentials}}">
			<div class="{{page.credentialsImage}}">
				<img src="/static/credentials_why.png">
			</div>
			<div class="{{page.credentialsText}}">
				Сделала Алиса Яннау в Школе редакторов Бюро Горбунова. 
				<br>
				Иллюстратор — Марина Савицкая, разработчик — Артур Стамбульцян.
				<br>
				<a href="/static/pdf/agreement.pdf" target="_blank" class="{{typography.link}}">Пользовательское соглашение</a>.
			</div>	
		</div>
	</div>
</div>