<div class="{{page.root}}">
	<div class="{{how.artwork}}">
		<img src="/static/how_artwork.png">
	</div>
	<div class="{{styles.pageContainer}}">
		<div class="{{styles.test}}" data-view="how-test"></div>
	</div>
	<div class="{{page.container}}">
		<div class="{{page.section}}">
			<div class="{{typography.header}}">Как стать<br>донором костного мозга</div>
			<div class="{{typography.paragraph}}">
				О&nbsp;донорстве костного мозга знают мало, поэтому многие боятся становиться донорами. Кто-то думает, что&nbsp;костный мозг вырезают из&nbsp;костей, другие слышали, что&nbsp;врач иглой протыкает позвоночник. Мы&nbsp;хотим развеять безосновательные страхи и&nbsp;рассказать, как&nbsp;все происходит на&nbsp;самом деле&nbsp;&mdash; шаг за&nbsp;шагом.
			</div>
		</div>
		<div class="{{page.section}}" id="first-step">
			<div class="{{typography.subheader}}">Первый шаг. Найти, где сдать кровь</div>
			<div class="{{typography.rowBottom}}">
				<div class="{{typography.grid4}}">
					<div class="{{typography.paragraph}}">
						Чтобы вступить в&nbsp;регистр потенциальных доноров костного мозга, нужно сдать кровь на&nbsp;типирование.
					</div>
					<div class="{{typography.paragraph}}">
						Типирование&nbsp;&mdash; это тест на&nbsp;тканевую совместимость между донором и&nbsp;реципиентом. От&nbsp;этой совместимости зависит, приживется&nbsp;ли костный мозг в&nbsp;новом организме.
					</div>
				</div>
				<div class="{{typography.grid2}}">
					<img class="{{how.firstImage}}" src="/static/location_shadow.png">
				</div>
			</div>
			<div class="{{typography.paragraph}}" style="margin-bottom: 37px; margin-top: 34px;">
				<div class="{{typography.footnote}}">
					Для 100% генетической совместимости донора и&nbsp;пациента должны совпасть 10&nbsp;четырехзначных параметров ДНК. Вероятность совпадения 1:10000. Для транплантации достаточно&nbsp;90% совместимости.
				</div>
			</div>
			<div class="{{typography.row}} {{typography.paragraph}}">
				<div class="{{typography.grid4}}">
					Специальных пунктов сдачи крови на&nbsp;типирование нет. Вступить в&nbsp;регистр можно в&nbsp;некоторых пунктах переливания крови и&nbsp;в&nbsp;лабораториях регистра. Выберите свой город и&nbsp;найдите удобный пункт.
				</div>
			</div>
		</div>
		<div class="{{typography.note}}">
			<div class="{{how.points}}" data-view="how-points"></div>
		</div>	
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Второй шаг. Сдать кровь</div>
			<div class="{{typography.row}} {{typography.paragraph}}">
				<div class="{{typography.grid4}}">
					<div class="{{typography.paragraph}}">
						В&nbsp;пункте приёма крови вы&nbsp;заполняете анкету 
						<br>
						и подписываете соглашение. Соглашение подтверждает, что вы&nbsp;вступаете в&nbsp;регистр добровольно и&nbsp;знаете о&nbsp;всех этапах донорства. Тут&nbsp;же вы&nbsp;сдаете 10&nbsp;мл крови.
					</div>
					<div class="{{typography.paragraph}}">
						Теперь вы&nbsp;в&nbsp;регистре. Вы&nbsp;попадаете в&nbsp;него автоматически после того, как кровь протипируют в&nbsp;лаборатории.
					</div>
					<div class="{{typography.paragraph}}">
						Помните, что мы увеличиваем регистр, чтобы спасать жизни. Поэтому оцените свои силы заранее и вступайте в регистр с твердым намерением стать реальным донором.
					</div>
					<div class="{{typography.paragraph}}">
						Люди, которые числятся в&nbsp;регистре, но&nbsp;в&nbsp;последний момент отказываются от&nbsp;реального донорства, зря тратят деньги благотворительных организаций и&nbsp;время пациента&nbsp;&mdash; время, которое может быть решающим.
					</div>
				</div>
				<div class="{{typography.grid2}}">
					<div class="{{typography.footnote}}">
						<div class="{{typography.paragraph}}">
							<a target="_blank" href="/static/pdf/anketa.pdf" class="{{typography.link}}">
								Анкета
								<br>
								о состоянии здоровья
							</a>
						</div>
						<div class="{{typography.paragraph}}">
							<a target="_blank" href="/static/pdf/register_agreement.pdf" class="{{typography.link}}">
								Соглашение 
								<br>
								о вступлении в регистр
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.noteYellow}}">
				<div class="{{typography.subheader}}">Персональные данные под защитой</div>
				<div class="{{typography.paragraph}} {{typography.row}}">
					<div class="{{typography.grid3}}">
						<div class="{{typography.paragraph}}">
							<span class="{{typography.bold}}">Регистр не раскрывает ваши данные</span>
							<br>
							Пробирку с&nbsp;анализом подписывают девятизначным кодом. Этот&nbsp;же код пишут на&nbsp;анкете с&nbsp;вашими персональными данными. Результаты типирования и&nbsp;код хранятся в&nbsp;одной базе, а&nbsp;персональные данные&nbsp;&mdash; в&nbsp;другой.
						</div>
						<div class="{{typography.paragraph}}">
							База с&nbsp;персональными данными находится на&nbsp;отдельном сервере без выхода в&nbsp;интернет. Сотрудник сопоставит код и&nbsp;имя, только если кому-то подойдут ваши клетки.
						</div>
					</div>
					<div class="{{typography.grid3}}">
						<div class="{{typography.paragraph}}">
							<span class="{{typography.bold}}">Регистр не раскрывает данные пациента</span>
							<br>
							О&nbsp;реципиенте вам скажут немного: пол, возраст, вес и&nbsp;как в&nbsp;общих чертах прошла трасплантация. Срок анонимности&nbsp;&mdash; два года. Потом сотрудник регистра предложит донору и&nbsp;реципиенту написать друг другу письма&nbsp;и, если оба согласятся, встретиться.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Третий шаг. Ждать</div>
			<div class="{{typography.row}} {{typography.paragraph}}">
				<div class="{{typography.grid4}}">
					<div class="{{typography.paragraph}}">
						Потенциальный донор может подойти кому-то через несколько месяцев, лет или вообще никогда не&nbsp;подойти.
					</div>
					<div class="{{typography.paragraph}}">
						Сотрудники регистра позвонят, если ваш костный мозг кому-то подойдет. Поэтому обязательно сообщайте, если у&nbsp;вас изменятся контакты. Так вас смогут найти даже спустя много лет. Неважно, откуда вы&nbsp;и&nbsp;где сдавали кровь на&nbsp;типирование,&nbsp;&mdash; пишите об&nbsp;изменениях на&nbsp;<a class="{{typography.link}}" href="mailto:donor@advita.ru">donor@advita.ru</a>.
					</div>
				</div>
				<div class="{{typography.grid2}}">
					<div class="{{typography.footnote}}">
						<div class="{{how.contact}}">
							<a href="mailto:donor@advita.ru" class="{{how.contactEmail}}">donor@advita.ru</a>
							<div class="{{how.contactText}}">
								Напишите нам, если поменяете телефон,&nbsp;&mdash; мы&nbsp;передадим новые данные в&nbsp;регистр
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Четвертый шаг.<br>Пройти обследование</div>
			<div class="{{typography.row}} {{typography.paragraph}}">
				<div class="{{typography.grid4}}">
					<div class="{{typography.paragraph}}">
						Итак, прошло время, и&nbsp;ваши клетки кому-то подошли. Сотрудник регистра звонит вам и&nbsp;спрашивает, готовы&nbsp;ли вы&nbsp;стать реальным донором.
					</div>	
					<div class="{{typography.paragraph}}">
						Если соглашаетесь, вам назначают более детальное, развернутое типирование&nbsp;&mdash; чтобы убедиться, что подходите. Потом вы&nbsp;проходите обследование. Это в&nbsp;любом случае будет обычный биохимический анализ крови. А&nbsp;дальше зависит от&nbsp;состояния здоровья. Если вас что-то беспокоит, врач назначит дополнительные анализы.
					</div>
				</div>
				<div class="{{typography.grid2}}">
					<img class="{{how.doctorImage}}" src="/static/doctor.png">
				</div>
			</div>	
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Пятый шаг. Стать донором</div>
			<div class="{{typography.paragraph}}">
				Забрать костный мозг от&nbsp;донора можно двумя способами. Каким будут брать у&nbsp;вас, вы&nbsp;выбираете сами.
			</div>
			<div class="{{typography.row}}">
				<div class="{{typography.grid3}}">
					<div class="{{how.type}}">
						<img src="/static/spit.png" class="{{how.typeImage}}">
						<div class="{{typography.text}}"><span class="{{typography.bold}}">Из тазовой кости</span></div>
						<div class="{{typography.text}}">
							Врач берет костный мозг из&nbsp;тазовой кости. Вы&nbsp;находитесь под общим наркозом и&nbsp;не&nbsp;чувствуете прокол. Тут некоторые боятся, что врач может промахнуться и&nbsp;попасть в&nbsp;позвоночник. Это невозможно. А&nbsp;заблуждение, видимо, связано с&nbsp;тем, что люди путают костный мозг со&nbsp;спинным, который расположен в&nbsp;спинном канале.
						</div>
						<div class="{{typography.paragraph}}">
							Стволовые клетки полностью восстанавливаются за&nbsp;2&nbsp;недели.
						</div>
						<div class="{{typography.paragraph}}">
							Побочные эффекты: после операции может немного болеть место прокола.
						</div>
					</div>
				</div>
				<div class="{{typography.grid3}}">
					<div class="{{how.type}}">
						<img src="/static/kapelnitsa.png" class="{{how.typeImage}}">
						<div class="{{typography.text}}"><span class="{{typography.bold}}">Из вены</span></div>
						<div class="{{typography.text}}">
							У&nbsp;вас берут кровь из&nbsp;вены одной руки и&nbsp;возвращают в&nbsp;вену на&nbsp;другой руке. Кровь проходит через сепаратор, отлавливающий клетки костного мозга. Анестезия не&nbsp;нужна. Процедура занимает 4-5&nbsp;часов, и&nbsp;вы&nbsp;успеваете посмотреть три любимых фильма или поспать.
						</div>	
						<div class="{{typography.paragraph}}">
							Стволовые клетки полностью восстанавливаются за&nbsp;неделю.
						</div>
						<div class="{{typography.paragraph}}">
							Побочные эффекты: до&nbsp;процедуры донору внутримышечно вводят лекарство, &laquo;выгоняющее&raquo; стволовые клетки в&nbsp;кровь. В&nbsp;это время возможны временные гриппоподобные симптомы.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Что потом</div>
			<div class="{{typography.paragraph}}">
				Через два года после успешной трансплантации у&nbsp;донора и&nbsp;реципиента спросят, 
				<br>
				хотят&nbsp;ли они познакомиться. Если оба согласятся, состоится встреча.
			</div>
		</div>
		<img src="/static/obyatye.png" class="{{how.whatNextImage}}">
		<div class="{{how.audio}}">
			<div class="{{how.audioPlayer}}">
				<audio data-role="audio">
					<source src="/static/audio.mp3" type="audio/mpeg">
				</audio>
				<a href="#" class="{{how.audioPlay}}" data-action="audio-play"></a>
				<a href="#" class="{{how.audioPause}}" data-action="audio-pause" style="display: none"></a>
			</div>
			<div class="{{how.audioText}} {{typography.text}}">
				Наталья Кельсина из&nbsp;Ижевска рассказывает, как стала донором костного мозга для мальчика Миши: чего боялась, как решилась и&nbsp;как прошла операция. 
				<br>
				Эфир радио &laquo;Адам&raquo;, 10&nbsp;минут.
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.row}}">
				<div class="{{typography.grid3}}">
					<div class="{{typography.text}}">
						&laquo;Я&nbsp;видел встречу только однажды, и&nbsp;это&nbsp;одно из&nbsp;самых сильных впечатлений за&nbsp;всю мою жизнь&raquo;
					</div>
					<div class="{{how.storyLink}}">
						<a href="https://snob.ru/selected/entry/50262?v=1464270594" target="_blank" class="{{typography.link}}">Репортаж Валерия Панюшкина</a>
					</div>
				</div>
				<div class="{{typography.grid3}}">
					<div class="{{typography.text}}">
						&laquo;И&nbsp;вот они встретились. Два&nbsp;черноглазых парня,&nbsp;&mdash; одному&nbsp;14, другому&nbsp;42, чем-то неуловимо похожие друг на&nbsp;друга и&nbsp;почти стопроцентные братья по&nbsp;крови&raquo;
					</div>
					<div class="{{how.storyLink}}">	
						<a href="http://takiedela.ru/2016/03/perelivanie-zhizni/" target="_blank" class="{{typography.link}}">История от Юлии Варенцовой</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{page.section}}">
		<div class="{{page.footer}}">
			<div class="{{page.container}}">
				<div class="{{how.footer}}">
					<div class="{{how.footerImage}}">
						<img src="/static/location.png">
					</div>
					<div class="{{how.footerContent}}">
						<div class="{{typography.paragraph}}">
							Если вы&nbsp;решили стать донором костного мозга, сделайте первый шаг&nbsp;&mdash; найдите пункт, в&nbsp;котором сможете сдать кровь и&nbsp;вступить в&nbsp;регистр.
						</div>
						<div class="{{typography.paragraph}}">
							<a href="#" data-action="scroll-to" data-element="#first-step" class="{{typography.link}}">Найти удобный пункт</a>
						</div>
						<div class="{{typography.paragraph}}">
							Если сомневаетесь, <a href="http://advita.ru/donor.php" target="_blank" class="{{typography.link}}">узнайте больше на сайте Advita</a>.
						</div>
						<div class="{{typography.paragraph}}">
							В любом случае расскажите о донорстве костного мозга друзьям.
							<br>
							Так вы можете спасти чью-то жизнь, даже если не вступите в регистр. 
						</div>
						<div data-view="how-share"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>