<div class="{{how.find}}">
	<div class="{{how.findForm}}">
		<select class="{{inputs.select}}" data-action="select-city">
			<option>Выберите город</option>
			{{#each citiesCollection.models}}
				<option value="{{this.attributes.placeId}}" {{#if this.selected}}selected="selected"{{/if}}>{{this.attributes.name}}</option>
			{{/each}}
		</select>
	</div>
	<div class="{{how.findContainer}}">
		{{#unless currentCity}}
			{{#if error.emptyCity}}
				<div class="{{how.findEmpty}} {{typography.text}}">
					Нам кажется, ваш город&nbsp;&mdash; {{error.data.formattedAddress}}. К&nbsp;сожалению, здесь нет постоянного пункта приема крови на&nbsp;типирование. Но&nbsp;вы&nbsp;все равно можете вступить в&nbsp;регистр. Найдите 10&nbsp;человек, которые тоже хотят стать донорами костного мозга, и&nbsp;позвоните Ирине Семеновой, руководителю донорской службы благотворительного фонда AdVita: +7&nbsp;921 998-49-15. Она расскажет, как организовать акцию сдачи крови в&nbsp;вашем городе.
				</div>
			{{else}}
				<div class="{{how.findEmpty}}">
					<div class="{{typography.paragraph}}">
						Мы&nbsp;не&nbsp;смогли определить ваш город. Пожалуйста, выберите его вручную. 
					</div>
					<div class="{{typography.paragraph}}">
						Если вашего города нет в&nbsp;списке, вы&nbsp;все равно можете вступить в&nbsp;регистр. Найдите 10&nbsp;человек, которые тоже хотят стать донорами костного мозга, и&nbsp;позвоните Ирине Семеновой, руководителю донорской службы благотворительного фонда AdVita: +7&nbsp;921 998-49-15. Она расскажет, как организовать акцию сдачи крови в&nbsp;вашем городе.
					</div>
				</div>
			{{/if}}
		{{else}}
			<div class="{{typography.row}}">
				<div class="{{typography.grid3}}">
					<div data-view="how-map" class="{{how.findMap}}"></div>
					<div class="{{how.findPointsEven}} {{typography.paragraph}}" data-role="all-points">
						{{#each oddPoints}}
							<div class="{{../typography.paragraph}}">
								<div class="{{../how.findPoint}} {{../typography.text}}">
									<div class="{{../how.findPointName}}">{{this.name}}</div>
									<div class="{{../how.findPointAddress}}">
										{{this.address}}.
									</div>
									<div class="{{../how.findPointTime}}">
										Время работы: {{this.time}}.
									</div>
									{{#if this.phone}}
										<div class="{{../how.findPointPhone}}">
											Телефон: {{this.phone}}.
										</div>
									{{/if}}
									{{#if this.info}}
										<div class="{{../how.findPointMeta}}">
											{{this.info}}.
										</div>
									{{/if}}
								</div>
							</div>
						{{/each}}
					</div>
				</div>
				<div class="{{typography.grid3}}">
					<div class="{{../typography.paragraph}}">
						<div class="{{how.findPoint}} {{typography.text}}">
							<div class="{{how.findPointName}}">{{firstPoint.name}}</div>
							<div class="{{how.findPointAddress}}">
								{{firstPoint.address}}.
							</div>
							<div class="{{how.findPointTime}}">
								Время работы: {{firstPoint.time}}.
							</div>
							{{#if firstPoint.phone}}
								<div class="{{how.findPointPhone}}">
									Телефон: {{firstPoint.phone}}.
								</div>
							{{/if}}
							{{#if firstPoint.info}}
								<div class="{{how.findPointMeta}}">
									{{firstPoint.info}}.
								</div>
							{{/if}}
						</div>
					</div>
					<div class="{{how.findPointsOdd}} {{typography.paragraph}}" data-role="all-points">
						{{#each evenPoints}}
							<div class="{{../typography.paragraph}}">
								<div class="{{../how.findPoint}} {{../typography.text}}">
									<div class="{{../how.findPointName}}">{{this.name}}</div>
									<div class="{{../how.findPointAddress}}">
										{{this.address}}.
									</div>
									<div class="{{../how.findPointTime}}">
										Время работы: {{this.time}}.
									</div>
									{{#if this.phone}}
										<div class="{{../how.findPointPhone}}">
											Телефон: {{this.phone}}.
										</div>
									{{/if}}
									{{#if this.info}}
										<div class="{{../how.findPointMeta}}">
											{{this.info}}.
										</div>
									{{/if}}
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		{{/unless}}
	</div>
	{{#if currentCity}}
		<div class="{{how.findControls}}">
			<a href="#" class="{{how.findControl}}" data-action="show-all-points">Все пункты</a>
			<a href="#" class="{{how.findControl}}" data-action="hide-all-points" style="display: none">Скрыть</a>
		</div>
	{{/if}}
</div>