<div class="{{page.root}}">
	<div class="{{why.artwork}}">
		<img src="/static/why_artwork.png">
	</div>
	<div class="{{page.container}}">
		<div class="{{typography.header}}">Зачем становиться<br>донором костного мозга</div>
		<div class="{{page.section}}">
			<div class="{{typography.text}}">
				Костный мозг — это орган кроветворной системы, на вид — жидкая субстанция. Он содержит стволовые клетки и продуцирует все кровяные клетки в организме. Если у человека онкологическое, иммунологическое или ау тоимунное заболевание, врачи назначают пересадку костного мозга. Часто это последний шанс спасти человеку жизнь.
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Как ищут доноров</div>
			<div class="{{typography.paragraph}}">
				Когда человеку нужен костный мозг, в первую очередь проверяют его родственников. Шансы невелики — в случае братьев и сестёр вероятность 1:4, а у родителей и детей ещё меньше. Если среди родных доноров не нашлось, ищут неродственных доноров — для этого нужен специальный регистр.
			</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Регистр — это база потенциальных доноров костного мозга. Потенциальный донор — еще не донор: у него не забирают костный мозг, он только числится в регистре. Реальным донором человек становится, когда кому-то подходит его костный мозг. Чем больше в регистре потенциальных доноров, тем выше вероятность найти пациенту реального донора.
					</div>
					<div class="{{typography.footnote}}">
						<div class="{{typography.footnoteCounter}}">
							{{data.potentialDonors}}
						</div>
						<div class="{{typography.footnoteText}}">
							потенциальных
							<br>
							доноров в регистре
							<br>
							на 27 мая 2016 года.
						</div>
						<div class="{{typography.footnoteMeta}}">
							Информация с сайта Русфонда
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class={{typography.note}}>
				<div class="{{typography.subheader}}">Зачем увеличивать национальный регистр</div>
				<div class="{{typography.paragraph}}">
					Регистр потенциальных доноров костного мозга есть в каждой развитой стране. Очень большой регистр в Германии – 6 миллионов  потенциальных доноров. Можно  пользоваться зарубежными регистрами, но важно развивать свой: 
				</div>	
				<div class="{{typography.paragraph}}">
					<div class="{{typography.floatJustifyBetween}}">
						<div class="{{typography.col2}}">
							В&nbsp;национальном регистре выше шанс найти подходящего донора, потому что в&nbsp;каждой стране свои генетические особенности.
						</div>
						<div class="{{typography.col2}}">
							Искать в&nbsp;национальном регистре гораздо дешевле. Поиск в&nbsp;российском регистре стоит 150-300 тысяч рублей, а&nbsp;в&nbsp;зарубежных&nbsp;&mdash; 18&nbsp;000&nbsp;евро.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{why.goal}}">
				<div class="{{why.goalAuthor}}">
					<img src="/static/grinberg.png" class="{{why.goalAuthorPhoto}}"/>
					<div class="{{why.goalAuthorInfo}}">
						<div class="{{typography.text}}">
							Павел Гринберг,
							<br>
							исполнительный директор
							<br>
							фонда Advita
						</div>
					</div>
				</div>
				<div class="{{why.goalText}}">
					«Наша цель – 500 тысяч потенциальных доноров в регистре. Столько нужно, чтобы находить костный мозг половине российских пациентов»
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Как спасти жизнь</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Мы увеличиваем регистр, чтобы повысить вероятность того, что пациент найдет подходящего донора и выздоровеет. Но система работает только потому, что находятся люди, которые хотят безвозмездно помогать. Сначала они вступают в регистр и становятся потенциальными донорами, а когда их костный мозг подходит, идут на реальное донорство. 
					</div>
					<div class="{{typography.footnote}}">
						<div class="{{typography.footnoteCounter}}">
							2 609
						</div>
						<div class="{{typography.footnoteText}}">
							человек 
							<br>
							вступили в регистр
							<br>
							за последний месяц
						</div>
					</div>
				</div>
			</div>
			<div class="{{typography.paragraph}}">
				После пересадки новые клетки костного мозга в организме реципиента размножаются и производят здоровое потомство. У пациента восстанавливается нормальное кроветворение организма, увеличивается стойкость к вирусам. Получить здоровые клетки можно только от донора – другой возможности нет. 
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Кто может помочь</div>
			<div class="{{typography.paragraph}}">
				При некоторых заболеваниях нельзя становиться донором костного мозга — это может быть опасно и для донора, и для реципиента. Врачи не рискуют здоровьем донора ради спасения другого человека и отменяют пересадку при малейшей угрозе. Для здорового человека процедура безопасна. 
			</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Другое дело — организм пациента, который нуждается в пересадке. Он и так ослаблен болезнью. Перед пересадкой донорских клеток пациент проходит курс сильной химиотерапии, которая убивает его больной костный мозг. Иммунитет пациента не справится с болезнями донора, поэтому важно пересадить максимально здоровый костный мозг. 
					</div>
					<div class="{{typography.footnote}}">
						<div class="{{typography.footnoteText}}">
							Если вы — донор крови,
							<br>
							вы можете быть
							<br>
							и донором костного
							<br>
							мозга. Противопоказания
							<br>
							для обеих процедур
							<br>
							совпадают
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{why.test}}" data-view="how-test"></div>
		</div>
	</div>
	<div class="{{page.footer}}">
		<div class="{{page.container}}">
			<div class="{{typography.paragraph}}">
				Если вы подходите и задумались о донорстве, узнайте,
				<br>
				<a class="{{typography.link}}" href="/#/how">как стать донором костного мозга</a>. 
			</div>
			{{!-- <div class="{{typography.paragraph}}">
				Если не подходите, но хотите помочь — расскажите друзьям. Чем больше людей узнают о донорстве костного мозга, тем больше потенциальных доноров вступят в регистр, и тем больше жизней мы сможем спасти. 
			</div>
			<div class="{{page.share}}">
				<div class="{{page.shareItemFb}}"></div>
				<div class="{{page.shareItemVk}}"></div>
			</div> --}}
		</div>
	</div>
	<div class="{{page.container}}">
		<div class="{{page.credentials}}">
			<div class="{{page.credentialsImage}}">
				<img src="/static/credentials_why.png">
			</div>
			<div class="{{page.credentialsText}}">
				Сделала Алиса Яннау в Школе редакторов Бюро Горбунова. 
				<br>
				Иллюстратор — Марина Савицкая, разработчик — Артур Стамбульцян.
				<br>
				<a href="#" class="{{typography.link}}">Пользовательское соглашение</a>.
			</div>	
		</div>
	</div>
</div>