<div class="{{page.root}}">
	<div class="{{why.artwork}}">
		<img src="/static/why_artwork.png">
	</div>
	<div class="{{page.container}}">
		<div class="{{page.section}}">
			<div class="{{typography.header}}">Зачем становиться<br>донором костного мозга</div>
			<div class="{{typography.paragraph}}">
				Костный мозг&nbsp;&mdash; это орган кроветворной системы, на&nbsp;вид&nbsp;&mdash; жидкая субстанция. Он&nbsp;содержит стволовые клетки и&nbsp;продуцирует все кровяные клетки в&nbsp;организме. Если&nbsp;у&nbsp;человека онкологическое, иммунологическое или&nbsp;аутоимунное заболевание, врачи назначают пересадку костного мозга. Часто это&nbsp;последний шанс спасти человеку жизнь.
			</div>
		</div>	
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Как ищут доноров</div>
			<div class="{{typography.paragraph}}">
				Когда человеку нужен костный мозг, в&nbsp;первую очередь проверяют его родственников. Шансы невелики&nbsp;&mdash; в&nbsp;случае братьев и&nbsp;сестёр вероятность 1:4, а&nbsp;у&nbsp;родителей и&nbsp;детей ещё&nbsp;меньше. Если среди родных доноров не&nbsp;нашлось, ищут неродственных доноров&nbsp;&mdash; для&nbsp;этого нужен специальный регистр.
			</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Регистр&nbsp;&mdash; это&nbsp;база потенциальных доноров костного мозга. Потенциальный донор&nbsp;&mdash; еще не&nbsp;донор: у&nbsp;него не&nbsp;забирают костный мозг, он&nbsp;только числится в&nbsp;регистре. Реальным донором человек становится, когда кому-то подходит его костный мозг. Чем&nbsp;больше в&nbsp;регистре потенциальных доноров, тем&nbsp;выше вероятность найти пациенту реального донора.
					</div>
					<a class="{{typography.footnote}}" href="http://www.rusfond.ru/registr/009" target="_blank">
						<span class="{{typography.footnoteCounter}}">
							{{data.potentialDonors}}
						</span>
						<span class="{{typography.footnoteText}}">
							потенциальных
							<br>
							доноров в регистре
							<br>
							на 27 мая 2016 года.
						</span>
						<span class="{{typography.footnoteMeta}}">
							Информация с сайта Русфонда
						</span>	
					</a>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class={{typography.note}}>
				<div class="{{typography.subheader}}">Зачем увеличивать национальный регистр</div>
				<div class="{{typography.paragraph}}">
					Регистр потенциальных доноров костного мозга есть в&nbsp;каждой развитой стране. Очень&nbsp;большой регистр в&nbsp;Германии&nbsp;&mdash; 6&nbsp;миллионов потенциальных доноров.
					<br>
					Можно пользоваться зарубежными регистрами, но&nbsp;важно развивать свой:
				</div>	
				<div class="{{typography.paragraph}}">
					<div class="{{typography.floatJustifyBetween}}">
						<div class="{{typography.col2}}">
							В&nbsp;национальном регистре выше шанс найти подходящего донора, потому что в&nbsp;каждой стране свои генетические особенности.
						</div>
						<div class="{{typography.col2}}">
							Искать в&nbsp;национальном регистре гораздо дешевле. Поиск в&nbsp;российском регистре стоит 150-300 тысяч рублей, а&nbsp;в&nbsp;зарубежных&nbsp;&mdash; 18&nbsp;000&nbsp;евро.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{why.goal}}">
				<div class="{{why.goalAuthor}}">
					<img src="/static/grinberg.png" class="{{why.goalAuthorPhoto}}"/>
					<div class="{{why.goalAuthorInfo}}">
						<div class="{{typography.text}}">
							Павел Гринберг,
							<br>
							исполнительный директор
							<br>
							фонда Advita
						</div>
					</div>
				</div>
				<div class="{{why.goalText}}">
					&laquo;Наша цель&nbsp;&mdash; 500 тысяч потенциальных доноров в&nbsp;регистре. Столько нужно, чтобы находить костный мозг половине российских пациентов&raquo;
				</div>
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Как спасти жизнь</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Мы&nbsp;увеличиваем регистр, чтобы повысить вероятность того, что пациент найдет подходящего донора и&nbsp;выздоровеет. Но&nbsp;система работает только потому, что находятся люди, которые хотят безвозмездно помогать. Сначала они вступают в&nbsp;регистр и&nbsp;становятся потенциальными донорами, а&nbsp;когда их&nbsp;костный мозг подходит, идут на&nbsp;реальное донорство.
					</div>
					<div class="{{typography.footnote}}">
						<div class="{{typography.footnoteCounter}}">
							2609
						</div>
						<div class="{{typography.footnoteText}}">
							человек 
							<br>
							вступили в регистр
							<br>
							за последний месяц
						</div>
					</div>
				</div>
			</div>
			<div class="{{typography.paragraph}}">
				После пересадки новые клетки костного мозга в&nbsp;организме реципиента размножаются и&nbsp;производят здоровое потомство. У&nbsp;пациента восстанавливается нормальное кроветворение организма, увеличивается стойкость к&nbsp;вирусам. Получить здоровые клетки можно только от&nbsp;донора&nbsp;&mdash; другой возможности нет.
			</div>
		</div>
		<div class="{{page.section}}">
			<div class="{{typography.subheader}}">Кто может помочь</div>
			<div class="{{typography.paragraph}}">
				При некоторых заболеваниях нельзя становиться донором костного мозга&nbsp;&mdash; это может быть опасно и&nbsp;для донора, и&nbsp;для реципиента. Врачи не&nbsp;рискуют здоровьем донора ради спасения другого человека и&nbsp;отменяют пересадку при малейшей угрозе. Для здорового человека процедура безопасна.
			</div>
			<div class="{{typography.paragraph}}">
				<div class="{{typography.float}}">
					<div>
						Другое дело&nbsp;&mdash; организм пациента, который нуждается в&nbsp;пересадке. Он&nbsp;и&nbsp;так ослаблен болезнью. Перед пересадкой донорских клеток пациент проходит курс сильной химиотерапии, которая убивает его больной костный мозг. Иммунитет пациента не&nbsp;справится с&nbsp;болезнями донора, поэтому важно пересадить максимально здоровый костный мозг.
					</div>
					<div class="{{typography.footnote}}">
						<div class="{{typography.footnoteText}}">
							Если вы — донор крови,
							<br>
							вы можете быть
							<br>
							и донором костного
							<br>
							мозга. Противопоказания
							<br>
							для обеих процедур
							<br>
							совпадают
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{why.test}}" data-view="how-test"></div>
	</div>
	<div class="{{page.footer}}">
		<div class="{{page.container}}">
			<div class="{{typography.paragraph}}">
				Если вы подходите и задумались о донорстве, узнайте,
				<br>
				<a class="{{typography.link}}" href="/#/how">как стать донором костного мозга</a>. 
			</div>
			{{!-- <div class="{{typography.paragraph}}">
				Если не подходите, но хотите помочь — расскажите друзьям. Чем больше людей узнают о донорстве костного мозга, тем больше потенциальных доноров вступят в регистр, и тем больше жизней мы сможем спасти. 
			</div>
			<div class="{{page.share}}">
				<div class="{{page.shareItemFb}}"></div>
				<div class="{{page.shareItemVk}}"></div>
			</div> --}}
		</div>
	</div>
	<div class="{{page.container}}">
		<div class="{{page.credentials}}">
			<div class="{{page.credentialsImage}}">
				<img src="/static/credentials_why.png">
			</div>
			<div class="{{page.credentialsText}}">
				Сделала Алиса Яннау в Школе редакторов Бюро Горбунова. 
				<br>
				Иллюстратор — Марина Савицкая, разработчик — Артур Стамбульцян.
				<br>
				<a href="/static/pdf/agreement.pdf" target="_blank" class="{{typography.link}}">Пользовательское соглашение</a>.
			</div>	
		</div>
	</div>
</div>