<div class="{{testStyles.title}}">Сколько вам лет?</div>
<div class="{{testStyles.subtitle}}">Мы никому не расскажем.</div>
<form class="{{gameStyles.form}}" data-action="test-form">
	<input class="{{gameStyles.input}}" data-action="test-input" maxlength="3"/>
	<div class="{{gameStyles.actions}}">
		<button class="{{gameStyles.submit}}" data-action="test-submit">ответить</button>
	</div>
</form>