<div class="{{testStyles.title}}">Сколько вам лет?</div>
<div class="{{testStyles.subtitle}}">Мы никому не расскажем.</div>
<div class="{{gameStyles.form}}">
	<input class="{{gameStyles.input}}" data-action="test-input" max-length="3"/>
</div>
<button class="{{testStyles.button}}" data-action="test-answer">ответить</button>