<div class="{{typography.subheader}}">Сколько вам лет?</div>
<div class="{{typography.paragraph}}">Мы никому не расскажем.</div>
<form class="{{gameStyles.form}}" data-action="test-form">
	<div class="{{typography.paragraph}}">
		<input class="{{inputsStyles.input}}" data-action="test-input" maxlength="3"/>
	</div>	
	<div class="{{gameStyles.actions}}">
		<button class="{{inputsStyles.button}}" data-action="test-submit">дальше</button>
	</div>
</form>