<div class="{{testStyles.title}}">Сколько вам лет?</div>
<div class="{{testStyles.subtitle}}">Мы никому не скажем</div>
<div class="{{gameStyles.form}}">
	<input class="{{gameStyles.input}}" />
</div>
<button class="{{testStyles.button}}">ответить</button>