<div class="{{typography.subheader}}">
	Были ли у вас
	<br>
	гемотрансмиссионные заболевания?
</div>
<div class="{{typography.paragraph}}">
	Это заболевания, которые передаются через кровь.
	<br>
	Например, вирусные гепатиты, СПИД, токсоплазмоз.
	<br>
	Если сомневаетесь, посмотрите <span target="_blank" data-action="show-full-list" class="{{typography.linkPseudo}}">полный список</span>.
	<div class="{{gameStyles.autoList}}" data-role="full-list">
		<div class="{{gameStyles.autoListContainer}}">
			<div class="{{gameStyles.autoListCol}}">
				<div class="{{gameStyles.autoListTitle}}">Инфекционные:</div>
				<ul class="{{gameStyles.autoListUl}}">
					<li class="{{gameStyles.autoListLi}}">СПИД, носительство ВИЧ-инфекции;</li>
					<li class="{{gameStyles.autoListLi}}">Сифилис, врожденный или приобретенный;</li>
					<li class="{{gameStyles.autoListLi}}">Вирусные гепатиты, положительный результат
						<br>
						исследования на маркеры вирусных гепатитов
						<br>
						(HBsAg, анти-HCV антител);</li>
					<li class="{{gameStyles.autoListLi}}">Туберкулез, все формы;</li>
					<li class="{{gameStyles.autoListLi}}">Бруцеллез;</li>
					<li class="{{gameStyles.autoListLi}}">Сыпной тиф;</li>
					<li class="{{gameStyles.autoListLi}}">Туляремия;</li>
					<li class="{{gameStyles.autoListLi}}">Лепра.</li>
				</ul>
			</div>
			<div class="{{gameStyles.autoListCol}}">
				<div class="{{gameStyles.autoListTitle}}">Паразитарные:</div>
				<ul class="{{gameStyles.autoListUl}}">
					<li class="{{gameStyles.autoListLi}}">Эхинококкоз;</li>
					<li class="{{gameStyles.autoListLi}}">Токсоплазмоз;</li>
					<li class="{{gameStyles.autoListLi}}">Трипаносомоз;</li>
					<li class="{{gameStyles.autoListLi}}">Филяриатоз;</li>
					<li class="{{gameStyles.autoListLi}}">Ришта;</li>
					<li class="{{gameStyles.autoListLi}}">Лейшманиоз</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form class="{{gameStyles.formAuto}}" data-action="test-form">
	<div class="{{typography.paragraph}}">
		<div class="{{gameStyles.radio}}">
			<input type="radio" value="true" data-action="test-input" name="game-auto-radio" id="game-auto-radio-true" class="{{inputsStyles.radioInput}}">
			<label for="game-auto-radio-true" class="{{inputsStyles.radioLabel}}">Да</label>
		</div>
		<div class="{{gameStyles.radio}}">
			<input type="radio" value="false" data-action="test-input" name="game-auto-radio" id="game-auto-radio-false" class="{{inputsStyles.radioInput}}">
			<label for="game-auto-radio-false" class="{{inputsStyles.radioLabel}}">Нет</label>
		</div>
	</div>	
	<div class="{{gameStyles.actions}}">
		<button class="{{inputsStyles.button}}" data-action="test-submit">дальше</button>
	</div>
</form>