<div class="{{testStyles.title}}">Есть ли у вас<br>аутоимунные заболевания?</div>
<div class="{{testStyles.subtitle}}">Если у вас есть аутоимуннное заболевание, скорее всего,<br>вы об этом знаете. Если не уверены, сверьтесь<br><a href="#" target="_blank" class="{{testStyles.link}}">со списком аутоимунных заболеваний</a>.</div>
<form class="{{gameStyles.formAuto}}" data-action="test-form">
	<div class="{{gameStyles.radio}}">
		<input type="radio" value="true" data-action="test-input" name="game-auto-radio" id="game-auto-radio-true" class="{{inputsStyles.radioInput}}">
		<label for="game-auto-radio-true" class="{{inputsStyles.radioLabel}}">Да</label>
	</div>
	<div class="{{gameStyles.radio}}">
		<input type="radio" value="false" data-action="test-input" name="game-auto-radio" id="game-auto-radio-false" class="{{inputsStyles.radioInput}}">
		<label for="game-auto-radio-false" class="{{inputsStyles.radioLabel}}">Нет</label>
	</div>
	<div class="{{gameStyles.actions}}">
		<button class="{{gameStyles.submit}}" data-action="test-submit">ответить</button>
	</div>
</form>