<div class="{{typography.subheader}}">Есть ли у вас<br>аутоимунные заболевания?</div>
<div class="{{typography.paragraph}}">
	Если у вас есть аутоимуннное заболевание, скорее всего, вы об этом знаете. Если не уверены, сверьтесь <a href="#" target="_blank" class="{{typography.link}}">со списком аутоимунных заболеваний</a>.
</div>
<form class="{{gameStyles.formAuto}}" data-action="test-form">
	<div class="{{typography.paragraph}}">
		<div class="{{gameStyles.radio}}">
			<input type="radio" value="true" data-action="test-input" name="game-auto-radio" id="game-auto-radio-true" class="{{inputsStyles.radioInput}}">
			<label for="game-auto-radio-true" class="{{inputsStyles.radioLabel}}">Да</label>
		</div>
		<div class="{{gameStyles.radio}}">
			<input type="radio" value="false" data-action="test-input" name="game-auto-radio" id="game-auto-radio-false" class="{{inputsStyles.radioInput}}">
			<label for="game-auto-radio-false" class="{{inputsStyles.radioLabel}}">Нет</label>
		</div>
	</div>	
	<div class="{{gameStyles.actions}}">
		<button class="{{inputsStyles.button}}" data-action="test-submit">дальше</button>
	</div>
</form>