<div class="{{testStyles.title}}">Что у вас<br>в медицинской карте?</div>
<div class="{{testStyles.subtitle}}">Есть сейчас или было когда-то.</div>
<form class="{{gameStyles.formDisease}}" data-action="test-form">
	<div class="{{gameStyles.formDiseaseContainer}}">
		{{#each data}}
			<div class="{{../gameStyles.checkbox}}">
				<input type="checkbox" data-action="test-input" name="game-auto-checkbox" id="game-auto-checkbox-{{@index}}" class="{{../inputsStyles.checkboxInput}}" data-id={{@index}}>
				<label for="game-auto-checkbox-{{@index}}" class="{{../inputsStyles.checkboxLabel}}" {{#if this.danger}}data-danger="true"{{/if}}>{{this.text}}</label>
			</div>
		{{/each}}
	</div>
	<div class="{{gameStyles.actions}}">
		<button class="{{gameStyles.submit}}" data-action="test-submit">ответить</button>
	</div>
</form>