<div class="{{testStyles.test}}">тест</div>
<div class="{{typography.subheader}}">Могу ли я стать донором?</div>
<div class="{{finishStyles.content}} {{#if testModel.attributes.result}}{{finishStyles.contentSuccess}}{{else}}{{finishStyles.contentFail}}{{/if}}">

	{{#if testModel.attributes.result}}

		<div class="{{finishStyles.success}}">
			<img src="/static/test_success.png" class="{{finishStyles.successImage}}">
			<div class="{{finishStyles.successText}} {{typography.grid3}}">
				<div class="{{typography.paragraph}}">Да!</div>
				<div class="{{typography.paragraph}}">
					Вы можете стать донором и спасти чью-то
					<br>
					жизнь. Для этого вступите в регистр — сдайте
					<br>
					кровь на типирование <a class="{{typography.link}}" data-action="redirect-and-scroll-to" data-element="#first-step" data-page="how">в специальном пункте</a>.
				</div>
				<div class="{{typography.paragraph}}">
					Расскажите о проекте друзьям, чтобы
					<br>
					спасти еще больше жизней.
				</div>
				<div class="{{finishStyles.share}}" data-view="test-share"></div>
			</div>	
		<div>

	{{else}}

		<div class="{{finishStyles.fail}}">
			<img src="/static/test_fail.png" class="{{finishStyles.failImage}}">
			<div class="{{finishStyles.failText}} {{typography.grid3}}">
				<div class="{{typography.paragraph}}">
					{{#if testModel.ageFail}}
						{{#if testModel.age17}}
							Попробую через год!
						{{else if testModel.age16}}
							Попробую через 2 года!
						{{else if testModel.age15_10}}
							Попробую попозже!
						{{else if testModel.age45more}}
							Нет, но могу помочь!
						{{else}}	
							Стану донором, когда вырасту! 
						{{/if}}
					{{/if}}

					{{#if testModel.weightFail}}
						{{#if testModel.weight47less}}
							Нет, но могу помочь!
						{{else if testModel.weight48_49}}
							Поем и смогу!
						{{/if}}
					{{/if}}

					{{#if testModel.autoFail}}
						Нет, но могу помочь!
					{{/if}}

					{{#if testModel.diseaseFail}}
						Нет, но могу помочь!
					{{/if}}

				</div>
				<div class="{{typography.paragraph}}">
					
					{{#if testModel.ageFail}}
						{{#if testModel.age17}}
							Пока вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что слишком молоды&nbsp;&mdash; в&nbsp;доноры берут с&nbsp;18&nbsp;лет. Ждем вас через год! 
							<br/>
							<br/>
							Но&nbsp;помочь вы&nbsp;можете уже сейчас. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{else if testModel.age16}}
							Пока вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что слишком молоды&nbsp;&mdash; в&nbsp;доноры берут с&nbsp;18&nbsp;лет. Ждем вас через 2&nbsp;года! 
							<br/>
							<br/>
							Но&nbsp;помочь вы&nbsp;можете уже сейчас. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{else if testModel.age15_10}}
							Пока вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что слишком молоды&nbsp;&mdash; в&nbsp;доноры берут только совершеннолетних. Ждем вас после 18!
							<br/>
							<br/>
							Но&nbsp;помочь вы&nbsp;можете уже сейчас. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{else if testModel.age45more}}	
							Донором можно стать до&nbsp;60&nbsp;лет, но&nbsp;типирование&nbsp;&mdash; дорогая процедура, поэтому важно, чтобы потенциальные доноры числились в&nbsp;регистре как можно дольше. Поэтому кровь на&nbsp;типирование берут до&nbsp;45&nbsp;лет.
							<br/>
							<br/>
							Но&nbsp;вы&nbsp;все равно можете помочь. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{else if testModel.age10less}}
							Пока вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что слишком молоды&nbsp;&mdash; в&nbsp;доноры берут только совершеннолетних. Ждем вас после 18!
							<br/>
							<br/>
							Но&nbsp;помочь вы&nbsp;можете уже сейчас. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{/if}}
					{{/if}}

					{{#if testModel.weightFail}}
						{{#if testModel.weight47less}}
							Вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что в&nbsp;доноры берут людей весом от&nbsp;50&nbsp;килограмм. 
							<br>
							<br>
							Но&nbsp;вы&nbsp;все равно можете помочь. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{else if testModel.weight48_49}}
							Сейчас вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что в&nbsp;доноры берут людей весом от&nbsp;50&nbsp;килограммов. Но&nbsp;вы&nbsp;очень близки! Пройдите тест ещё раз, указав, что весите 50&nbsp;килограмм, и&nbsp;посмотрите, нет&nbsp;ли у&nbsp;вас других противопоказаний. Если нет&nbsp;&mdash; ждём вас через пару килограммов!
							<br>
							<br>
							Но&nbsp;вы&nbsp;все равно можете помочь. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
						{{/if}}
					{{/if}}

					{{#if testModel.autoFail}}
						Вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что гемотрансмиссионное заболевание&nbsp;&mdash; абсолютное противопоказание.
						<br>
						<br>
						Но&nbsp;вы&nbsp;все равно можете помочь. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
					{{/if}}

					{{#if testModel.diseaseFail}}
						Вы&nbsp;не&nbsp;можете стать донором костного мозга, потому что у&nbsp;вас есть противопоказания. У&nbsp;человека, которому нужна пересадка, очень слабый иммунитет. Поэтому даже если вы&nbsp;болели очень давно, врачи решают не&nbsp;рисковать. 
						<br>
						<br>
						Но&nbsp;вы&nbsp;все равно можете помочь. Расскажите о&nbsp;проекте друзьям: если кто-то из&nbsp;них станет донором, вы&nbsp;спасете не&nbsp;одну, а&nbsp;несколько жизней.
					{{/if}}

				</div>
				<div class="{{finishStyles.agreement}}">
					<input type="checkbox" data-action="test-finish-agreement" id="test-finish-agreement" class="{{inputStyles.checkboxInput}}">
					<label for="test-finish-agreement" class="{{inputStyles.checkboxLabel}}">
						Рассказать в посте, почему<br>я не подхожу
					</label>
				</div>
				<div class="{{finishStyles.share}}" data-view="test-share"></div>
			</div>	
		</div>
	{{/if}}
</div>