<div class="{{testStyles.test}}">тест</div>
<div class="{{typography.subheader}}">Могу ли я стать донором?</div>
<div class="{{finishStyles.content}} {{#if testModel.attributes.result}}{{finishStyles.contentSuccess}}{{else}}{{finishStyles.contentFail}}{{/if}}">

	{{#if testModel.attributes.result}}

		<div class="{{finishStyles.success}}">
			<img src="/static/test_success.png" class="{{finishStyles.successImage}}">
			<div class="{{finishStyles.successText}}">	
				<div class="{{typography.paragraph}}">Да!</div>
				<div class="{{typography.paragraph}}">
					Вы можете стать донором
					<br>
					и спасти чью-то жизнь.
					<br>
					Для этого вступите 
					<br>
					в регистр — сдайте кровь
					<br>
					на типирование
					<br>
					<a class="{{typography.link}}" href="#">в специальном пункте</a>.
				</div>
				<div class="{{typography.paragraph}}">
					Расскажите о проекте
					<br>
					друзьям, чтобы спасти
					<br>
					еще больше жизней.
				</div>
				<div class="{{finishStyles.share}}" data-view="test-share"></div>
			</div>	
		<div>

	{{else}}

		<div class="{{finishStyles.fail}}">
			<div class="{{typography.paragraph}}">

				{{#if testModel.ageFail}}
					{{#if testModel.age17}}
						Попробую через год!
					{{else if testModel.age16}}
						Попробую через 2 года!
					{{else if testModel.age15_10}}
						Попробую попозже!
					{{else if testModel.age45more}}
						Нет, но могу помочь!
					{{else}}	
						Стану донором, когда вырасту! 
					{{/if}}
				{{/if}}

				{{#if testModel.weightFail}}
					{{#if testModel.weight47less}}
						Нет, но могу помочь!
					{{else if testModel.weight48_49}}
						Поем и смогу!
					{{/if}}
				{{/if}}

				{{#if testModel.autoFail}}
					Нет, но могу помочь!
				{{/if}}

				{{#if testModel.diseaseFail}}
					Нет, но могу помочь!
				{{/if}}

			</div>
			<div class="{{typography.paragraph}}">
				
				{{#if testModel.ageFail}}
					{{#if testModel.age17}}
						Пока вы не можете стать донором костного мозга, потому что слишком молоды — в доноры берут с 18 лет. Ждем вас через год! 
						<br/>
						<br/>
						Но помочь вы можете уже сейчас. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней.
					{{else if testModel.age16}}
						Пока вы не можете стать донором костного мозга, потому что слишком молоды — в доноры берут с 18 лет. Ждем вас через 2 года! 
						<br/>
						<br/>
						Но помочь вы можете уже сейчас. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней.
					{{else if testModel.age15_10}}
						Пока вы не можете стать донором костного мозга, потому что слишком молоды — в доноры берут только совершеннолетних. Ждем вас после 18!
						<br/>
						<br/>
						Но помочь вы можете уже сейчас. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней.
					{{else if testModel.age45more}}	
						Донором можно стать до 60 лет, но типирование — дорогая процедура, поэтому важно, чтобы потенциальные доноры числились в регистре как можно дольше. Поэтому кровь на типирование берут до 45 лет.
						<br/>
						<br/>
						Но вы все равно можете помочь. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней. 
					{{else if testModel.age10less}}
						Пока вы не можете стать донором костного мозга, потому что слишком молоды — в доноры берут только совершеннолетних. Ждем вас после 18!
						<br/>
						<br/>
						Но помочь вы можете уже сейчас. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней.
					{{/if}}
				{{/if}}

				{{#if testModel.weightFail}}
					{{#if testModel.weight47less}}
						Вы не можете стать донором костного мозга, потому что в доноры берут людей весом от 50 килограмм. 
						<br>
						<br>
						Но вы все равно можете помочь. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней. 
					{{else if testModel.weight48_49}}
						Сейчас вы не можете стать донором костного мозга, потому что в доноры берут людей весом от 50 килограммов. Но вы очень близки! Пройдите тест ещё раз, указав, что весите 50 килограмм, и посмотрите, нет ли у вас других противопоказаний. Если нет — ждём вас через пару килограммов!
						<br>
						<br>
						Но вы все равно можете помочь. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней. 
					{{/if}}
				{{/if}}

				{{#if testModel.autoFail}}
					Вы не можете стать донором костного мозга, потому что аутоиммунные заболевания — абсолютное противопоказание. 
					<br>
					<br>
					Но вы все равно можете помочь. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней. 
				{{/if}}

				{{#if testModel.diseaseFail}}
					Вы не можете стать донором костного мозга, потому что у вас есть противопоказания. У человека, которому нужна пересадка, очень слабый иммунитет. Поэтому даже если вы болели очень давно, врачи решают не рисковать. 
					<br>
					<br>
					Но вы все равно можете помочь. Расскажите о проекте друзьям: если кто-то из них станет донором, вы спасете не одну, а несколько жизней. 
				{{/if}}

			</div>
			<div class="{{finishStyles.agreement}}">
				<input type="checkbox" data-action="test-finish-agreement" id="test-finish-agreement" class="{{inputStyles.checkboxInput}}">
				<label for="test-finish-agreement" class="{{inputStyles.checkboxLabel}}">
					Рассказать в посте, почему<br>я не подхожу
				</label>
			</div>
			<div class="{{finishStyles.share}}" data-view="test-share"></div>
		</div>
	{{/if}}
</div>