<div class="{{gameStyles.stepHeader}}">
	<span class="{{gameStyles.stepInfo}}">{{currentStepIndex}}/{{stepsAmount}}</span>
	<span class="{{gameStyles.stepTitle}}">Могу ли я стать донором?</span>
</div>
<div class="{{gameStyles.stepContent}}" data-view="test-step"></div>