<div class="{{startStyles.container}}">
	<div class="{{testStyles.test}}">тест</div>
	<div class="{{typography.subheader}}">Могу ли я стать донором?</div>
	<div class="{{typography.paragraph}}">
		Ответьте на четыре вопроса и узнайте,
		<br>
		можете ли вы стать донором костного мозга.
		<br>
		Или прочитайте <a target="_blank" href="/static/pdf/protivopokazania.pdf" class="{{typography.link}}">список противопоказаний</a>.
	</div>
	<div class="{{startStyles.actions}}">
		<button class="{{inputsStyles.button}}" data-action="test-start">начать</button>
	</div>
</div>	