<div class="{{startStyles.title}}">тест</div>
<div class="{{testStyles.title}}">Могу ли я стать донором?</div>
<div class="{{testStyles.subtitle}}">
	Пройдите тест и узнайте, можете ли вы стать донором
	<br>
	костного мозга. Тест рассказывает про абсолютные
	<br>
	противопоказания, все ограничения смотрите
	<br>
	<a href="#" class="{{typography.link}}">полный список противопоказаний</a>.
</div>
<button class="{{inputsStyles.button}}" data-action="test-start">начать</button>