<div class="{{startStyles.title}}">тест</div>
<div class="{{testStyles.title}}">Могу ли я стать донором?</div>
<div class="{{testStyles.subtitle}}">
	Абсолютно здоровых людей не бывает, но при некоторых<br>заболеваниях нельзя становиться донором: это опасно и для<br>донора, и для пациента. Пройдите тест или прочитайте<br><a href="#" target="_blank" class="{{testStyles.link}}">полный список противопоказаний</a>.
</div>
<button class="{{testStyles.button}}" data-action="test-start">начать</button>