<div class="{{startStyles.container}}">
	<div class="{{testStyles.test}}">тест</div>
	<div class="{{typography.subheader}}">Могу ли я стать донором?</div>
	<div class="{{typography.paragraph}}">
		Пройдите тест и узнайте, можете ли вы стать донором
		<br>
		костного мозга. Тест рассказывает про абсолютные
		<br>
		противопоказания, все ограничения смотрите
		<br>
		<a href="#" class="{{typography.link}}">полный список противопоказаний</a>.
	</div>
	<div class="{{startStyles.actions}}">
		<button class="{{inputsStyles.button}}" data-action="test-start">начать</button>
	</div>
</div>	