<div class="{{testStyles.title}}">Сколько вы весите?</div>
<div class="{{testStyles.subtitle}}">Только между нами.</div>
<form class="{{gameStyles.form}}" data-action="test-form">
	<input class="{{inputsStyles.input}}" data-action="test-input" maxlength="3"/>&nbsp;&nbsp;КГ
	<div class="{{gameStyles.actions}}">
		<button class="{{gameStyles.submit}}" data-action="test-submit">ответить</button>
	</div>
</form>